apiVersion: apps/v1
kind: Deployment
metadata:
  name: tailscale-subnet-router
  namespace: tailscale
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tailscale-subnet-router
  template:
    metadata:
      labels:
        app: tailscale-subnet-router
    spec:
      serviceAccountName: tailscale
      containers:
      - name: tailscale
        image: tailscale/tailscale:latest
        env:
        - name: TS_AUTHKEY
          valueFrom:
            secretKeyRef:
              name: tailscale-auth
              key: TS_AUTHKEY
        - name: TS_USERSPACE
          value: "false"
        - name: TS_EXTRA_ARGS
          value: "--advertise-routes=192.168.88.0/24"
        securityContext:
          privileged: true
        # capabilities:
        #   add:
        #   - NET_ADMIN
        #   - SYS_MODULE
        volumeMounts:
        - name: dev-net-tun
          mountPath: /dev/net/tun
        - name: tailscale-state
          mountPath: /var/lib/tailscale
      volumes:
      - name: dev-net-tun
        hostPath:
          path: /dev/net/tun
      - name: tailscale-state
        hostPath:
          path: /var/lib/tailscale
          type: DirectoryOrCreate
